<html>

<head>
    <title>Login Fail</title>
</head>

<body style="text-align: center;">
    <header>
        <h1>Login fail, Please check again</h1>
        <a href="/"><button>Back to Login Page</button></a>
    </header>
</body>

</html>