<html>

<head>
    <title>Register Fail</title>
</head>

<body style="text-align: center;">
    <header>
        <h1>Register fail, username exists</h1>
        <a href="/reg"><button>Back to Register Page</button></a>
    </header>
</body>

</html>